*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:black;
}

#flex-container{
    //controll the nav bar
    grid-area:nav;
    position:fixed;
    width:100vw;
    img{width:4vw;}
    //border:solid red;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-top:0;
    //border-radius:0px 0px 10px 10px;
    background-color: rgb(0, 0, 0, 0.9);
    

    .nav-item{
        //controll each element in the nav bar
        list-style:none;
        margin-right:8vw;
        font-size: 1.5vw;
        

        a{
            //controll the element in the nav abr
            text-decoration: none;
            color:white;
        }
    }
    .nav-item:first-child{
        //only controll the logo 
        margin-right:auto;
        margin-left:10vw;
        padding-top:0.5vw;
    }

    .text:hover{
        color:#ffcc33;
    }

    .text::after{
        content: '';
        display:block;
        margin-top:2px;
        width:2px;
        height:2px;
        background: #ffcc33;
        transition:width 0.5s;     
    }
    .text:hover::after{
        width:100%;
        transition:width 0.5s;   
    }
}
.grid-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 40vw 5vw minmax(40vw, auto);
    grid-template-areas:
    "banner banner banner"
    "filter filter filter"
    "mov mov mov";

    .grid-object-1{
        grid-area: banner;
        //border:solid white;
        background-image: url("../image/portfolio/set2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
        display:flex;

        .para1{
            color:white;
            //padding-top: ;
            padding-left:5vw;
            
            .line1{
                font-size: 2vw;
                margin-top:17vw;
            }
            .line2{
                font-size: 5vw;
                font-weight: bolder;
                padding-top:1vw;
                color:#ffcc33;
            }
        }

        .border{
            width:2vw;
            height:14vw;
            margin-top:15vw;
            margin-left: 4vw;
            border-left:solid #ffcc33;
            border-radius: repeat(5px,4);
        }

        .para2{
            color:white;
            font-size:2vw;
            margin-top:12vw;
            margin-left:2vw;
            margin-right:2vw;
            text-align: left;
            
        }
    }

    
    



    .grid-object-2{
        grid-area: filter;
        border:solid green;
        // background-image: url("../image/portfolio/set2.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        background-color: black;
        display:flex;
        align-items: center;
        
        #myInput{
            width:30vw;
            height:3vw;
            margin-left:5vw;
            font-size:2vw;
            border:2px solid #ffcc33;
            border-radius: 5px;
        }
        .fixed{
            color:#ffcc33;
            font-size: 2vw;
            margin-left:3vw;
        }
        .dropDown{
            color:white;
            position:relative;
            display:inline-block;
        }
        // .list{
        //     display: none;
        //     position: absolute;
        //     background-color: #f6f6f6;
        //     border: 1px solid #ddd;
        //     z-index: 1;
        // }

    }

    .grid-object-3{
        grid-area: mov;
        //border:solid red;
        
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20vw;

        .thumbnail{
           position:relative; 
           background-size:cover;
           background-repeat: no-repeat;
           margin: 2vw;
           cursor:pointer;
           transition: transform 0.2s;
           //border:solid red;
        }


        .thumbnail::after{
            content:'';
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:-1;
            background-color: rgba(0,0,0,0.7);
            border:solid #ffcc33;
            transition: transform 0.2s;
        }


        //only need one hover block after all
        .thumbnail:hover{
            transform: scale(1.05);

        }

        .hover-title{
            height:100%;
            width:100%;
            opacity:0;
            color:white;
            font-weight:bolder;
            font-size:3vw;
            display:flex;
            align-items: center;
            justify-content: center;
            transition:0.2s;

        }

        .hover-title:hover{
            opacity:1;
        }

      
    }

}

.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid #ffcc33;
    border-radius:10px;
    z-index:10;
    height:50vw;
    width:80vw;
    background-color:rgb(0, 0, 0, 0.9);
    border:solid whtie;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:2fr 2fr 2fr 4fr 3fr;
    grid-template-areas: 
    "pic blank"
    "pic title"
    "pic genre"
    "pic description"
    "pic link";
    letter-spacing: 2px;
    padding-right: 2vw;
    
    .close-button{
        grid-area:blank;
        padding-left: 35vw;
        margin-bottom:2vw;
        cursor:pointer;
        border:none;
        outline:none;
        background:none;
        color: #ffcc33;
        font-size:2vw;
        //border:solid purple;
    }
    .fixed{
        color:#ffcc33;
        font-weight: lighter;
    }

    .slideshow{
        grid-area:pic;
        //border:solid red;
        position:relative;
        display:flex;
        justify-content: center;
        align-self: center;
        
        margin-left:2vw;
        margin-right:2vw;
        margin-bottom: 7vw;

        .prev{
            left:0;
        }
        .next{
            right: 0;
        }

        .prev, .next{
            color: #ffcc33;
            cursor: pointer;
            position: absolute;
            font-size: 3vw;
            top: 40%;
            transition:0.2s;
            background-color: rgba(0,0,0,0.2);
        }

        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
          
    }

    .title{
        grid-area:title;
        //border:solid blue;

        .title-content{
            color:white;
            font-weight: bolder;
            font-size:3vw;
            
        }
    }

    .genre{
        grid-area: genre;
        //padding-top: 2vw;
        //border:solid yellow;
        .genre-content{
            color:white;
            font-size:2vw;
        }
    }

    .description{
        grid-area: description;
        
        //border:solid white;
        .description-content{
            color:white;
            font-size:2vw;
        }
    }

    .link{
        grid-area:link;
        //border:solid green;
        display:flex;
        justify-content: space-around;
        

        img{
            width:5vw;
        }

        .youtube{
            margin-left:2vw;
        }

        .bilibili{
            margin-right:2vw;
        }
    }
}

.modal-active{
    transform:translate(-50%, -50%) scale(1);
}

.overlay{
    position:fixed;
    opacity:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.7);
    pointer-events:none;
}

.overlay-active{
    opacity:1;
    pointer-events:all;
}
