nav{
    position:absolute;
    top:0%;
}
.flex-container {
    
    display:flex;
    
    align-items: center;
    margin-right: 5rem;
    margin-left: 2rem;

    .nav-item{
        
        list-style: none;
        margin-right: 3rem;
        ;
        a{
            text-decoration: none;
            color:whitesmoke
        }
    }

    .nav-item:first-child{
        margin-top:10px;       
    }
}