@import "_navigation";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{  
    
    background-color: black;
    //border:solid red;

}

.grid-container{
    //height:90 vh;
    //width:100vw;
    
    background-image: url("./image/set1.jpg");
    background-size: 80%;
    background-position: bottom 30%  right 10%;
    background-repeat: no-repeat;
    box-shadow:  black;
    display:grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 10vw 45vw;
    grid-template-areas: 
    "nav nav"
    "quote empty";
    
    img {
        //controll the size of logo
        width:7vw;
    }

    .grid-object-1{
        //The navigation bar
        grid-area: nav;
        //border:solid red;
    }

    .flex-container{
        //The naviagtion bar
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3vw;
        padding-top:2vw;
        
        //border:solid white;
        .nav-item{
            list-style: none;
            margin-right: 2.5vw;
            margin-left:2.5vw;
            font-size: 1.5vw;
            a{
                text-decoration: none;
                color:whitesmoke;
            }
        }

        .nav-item:first-child{
            
            margin-right:auto;
            margin-left: 14vw;
        
        }
    }

    .grid-object-2{
        //The quote part
        grid-area: quote;
        //border:solid blue;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding-top:5vw;
        padding-bottom: 3vw;

        
        
        .quote-items{
            color:white;    
        }
        .sign{
            width: 5vw;
            margin-bottom: 7vw;

        }
        .text{
            //margin-top: 3vw;
            text-align: center;
            font-size: 3vw;
            margin-bottom: 7vw;
        }
        .line{
            height:1px;
            width:5vw;
            border-bottom:solid #ffcc33;
            border-radius: 2px;
            margin-bottom:2vw;

        }
        .name{
            
            font-size:2vw;
        }
    }

    .grid-object-3{
        grid-area:empty;
        
    }
}


.grid-container-2{
    background-color: rgb(0, 0, 0);
    color:white;
    display:grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 20vw 40vw;
    grid-template-areas:
    "pic title"
    "pic content";

    .grid-object-4{
        grid-area: pic;
        border:solid blue;
        display:flex;

    }

    .grid-object-5{
        grid-area:title;
        //border:solid red;
        padding-left: 4vw;
        padding-top: 3vw;
        .flex-container-2{
        display:flex;
        flex-direction: row;}

        img{
            width:10vw;
        }

        .line1{
            font-size:1.5vw;
        }

        .line2{
            font-size:6vw;
            font-weight: bolder;
            color:#ffcc33;
        }

        .line3{
            font-size:6vw;
            font-weight: bolder;
            color:#ffcc33;
        }

    }

    .grid-object-6{
        grid-area:content;
        //border:solid yellow;
        padding-left: 4vw;
        padding-right:4vw;
        .content{
            font-size: 2vw;
            margin-bottom: 2vw;

        }
    }
    

}


