@import "_navigation";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{  
    
    background-color: black;
    //border:solid red;

}

.grid-container{
    //height:90 vh;
    //width:100vw;
    background-image: url("./image/set1.jpg");
    background-size: 80%;
    background-position: bottom 30%  right 10%;
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: 35vw 65vw;
    grid-template-rows: 10vw 45vw;
    grid-template-areas: 
    "nav nav"
    "quote empty";
    
    img {
        //controll the size of logo
        width:7vw;
    }

    .grid-object-1{
        //The navigation bar
        grid-area: nav;
        border:solid red;
    }

    .flex-container{
        //The naviagtion bar
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3vw;
        
        //border:solid white;
        .nav-item{
            list-style: none;
            margin-right: 2.5vw;
            margin-left:2.5vw;
            font-size: 1.5vw;
            a{
                text-decoration: none;
                color:whitesmoke;
            }
        }

        .nav-item:first-child{
            margin-right:auto;
            margin-left: 10vw;
        
        }
    }

    .grid-object-2{
        grid-area: quote;
        border:solid blue;
    }

    .grid-object-3{
        grid-area:empty;
        border:solid yellow;
    }
}


